:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, Arial, Helvetica, sans-serif;
  padding: 2em;
}
h1 {
  font-size: 3.2em;
  font-weight: 700;
  line-height: 1.1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1{
  padding : 1em 0;
}

h2 {
  padding: 1rem 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.imgDark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  .imgLight {
    display: none;
  }
  .imgDark {
    display: unset;
  }
}
